# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_define.dat

# Images
!Scene_Memory_01_misaki_main_01.rpgmvp
!Scene_Memory_01_misaki_main_02.rpgmvp
!Scene_Memory_01_misaki_main_03.rpgmvp
!Scene_Memory_01_misaki_main_04.rpgmvp
!Scene_Memory_01_misaki_main_05.rpgmvp
!Scene_Memory_01_misaki_main_06.rpgmvp
!Scene_Memory_01_misaki_main_07.rpgmvp
!Scene_Memory_01_misaki_main_08.rpgmvp
!Scene_Memory_01_misaki_sub_01.rpgmvp
!Scene_Memory_01_misaki_sub_02.rpgmvp
!Scene_Memory_01_misaki_sub_03.rpgmvp
!Scene_Memory_01_misaki_sub_04.rpgmvp
!Scene_Memory_01_misaki_sub_05.rpgmvp
!Scene_Memory_01_misaki_sub_06.rpgmvp
!Scene_Memory_01_misaki_sub_07.rpgmvp
!Scene_Memory_01_misaki_sub_08.rpgmvp
!Scene_Memory_01_misaki_sub_09.rpgmvp
!Scene_Memory_01_misaki_sub_10.rpgmvp
!Scene_Memory_01_misaki_sub_11.rpgmvp
!Scene_Memory_01_misaki_sub_ED.rpgmvp
!Scene_Memory_02_titose_main_03.rpgmvp
!Scene_Memory_02_titose_main_04.rpgmvp
!Scene_Memory_02_titose_main_05.rpgmvp
!Scene_Memory_02_titose_main_06.rpgmvp
!Scene_Memory_02_titose_sub_01.rpgmvp
!Scene_Memory_02_titose_sub_02.rpgmvp
!Scene_Memory_02_titose_sub_03.rpgmvp
!Scene_Memory_02_titose_sub_04.rpgmvp
!Scene_Memory_02_titose_sub_05.rpgmvp
!Scene_Memory_02_titose_sub_06.rpgmvp
!Scene_Memory_02_titose_sub_07.rpgmvp
!Scene_Memory_02_titose_sub_08.rpgmvp
!Scene_Memory_02_titose_sub_09.rpgmvp
!Scene_Memory_02_titose_sub_10.rpgmvp
!Scene_Memory_02_titose_sub_11.rpgmvp
!Scene_Memory_02_titose_sub_12.rpgmvp
!Scene_Memory_02_titose_sub_ED.rpgmvp
!Scene_Memory_03_aoi_main_01.rpgmvp
!Scene_Memory_03_aoi_main_02.rpgmvp
!Scene_Memory_03_aoi_main_03.rpgmvp
!Scene_Memory_03_aoi_main_04.rpgmvp
!Scene_Memory_03_aoi_main_05.rpgmvp
!Scene_Memory_03_aoi_main_06.rpgmvp
!Scene_Memory_03_aoi_main_07.rpgmvp
!Scene_Memory_03_aoi_sub_01.rpgmvp
!Scene_Memory_03_aoi_sub_02.rpgmvp
!Scene_Memory_03_aoi_sub_03.rpgmvp
!Scene_Memory_03_aoi_sub_04.rpgmvp
!Scene_Memory_03_aoi_sub_05.rpgmvp
!Scene_Memory_03_aoi_sub_06.rpgmvp
!Scene_Memory_03_aoi_sub_07.rpgmvp
!Scene_Memory_03_aoi_sub_08.rpgmvp
!Scene_Memory_03_aoi_sub_09.rpgmvp
!Scene_Memory_03_aoi_sub_10.rpgmvp
!Scene_Memory_03_aoi_sub_11.rpgmvp
!Scene_Memory_03_aoi_sub_12.rpgmvp
!Scene_Memory_03_aoi_sub_ED.rpgmvp
!Scene_Memory_04_koume_main_01.rpgmvp
!Scene_Memory_04_koume_main_02.rpgmvp
!Scene_Memory_04_koume_main_03.rpgmvp
!Scene_Memory_04_koume_main_04.rpgmvp
!Scene_Memory_04_koume_main_05.rpgmvp
!Scene_Memory_04_koume_main_06.rpgmvp
!Scene_Memory_04_koume_main_07.rpgmvp
!Scene_Memory_04_koume_sub_01.rpgmvp
!Scene_Memory_04_koume_sub_02.rpgmvp
!Scene_Memory_04_koume_sub_03.rpgmvp
!Scene_Memory_04_koume_sub_04.rpgmvp
!Scene_Memory_04_koume_sub_05.rpgmvp
!Scene_Memory_04_koume_sub_06.rpgmvp
!Scene_Memory_04_koume_sub_07.rpgmvp
!Scene_Memory_04_koume_sub_08.rpgmvp
!Scene_Memory_04_koume_sub_09.rpgmvp
!Scene_Memory_04_koume_sub_10.rpgmvp
!Scene_Memory_04_koume_sub_11.rpgmvp
!Scene_Memory_04_koume_sub_12.rpgmvp
!Scene_Memory_04_koume_sub_ED.rpgmvp
!Scene_Memory_05_kotohana_main_01.rpgmvp
!Scene_Memory_05_kotohana_main_02.rpgmvp
!Scene_Memory_05_kotohana_main_03.rpgmvp
!Scene_Memory_05_kotohana_main_04.rpgmvp
!Scene_Memory_05_kotohana_main_05.rpgmvp
!Scene_Memory_05_kotohana_main_06.rpgmvp
!Scene_Memory_05_kotohana_main_07.rpgmvp
!Scene_Memory_05_kotohana_sub_01.rpgmvp
!Scene_Memory_05_kotohana_sub_02.rpgmvp
!Scene_Memory_05_kotohana_sub_03.rpgmvp
!Scene_Memory_05_kotohana_sub_04.rpgmvp
!Scene_Memory_05_kotohana_sub_05.rpgmvp
!Scene_Memory_05_kotohana_sub_06.rpgmvp
!Scene_Memory_05_kotohana_sub_07.rpgmvp
!Scene_Memory_05_kotohana_sub_08.rpgmvp
!Scene_Memory_05_kotohana_sub_09.rpgmvp
!Scene_Memory_05_kotohana_sub_10.rpgmvp
!Scene_Memory_05_kotohana_sub_11.rpgmvp
!Scene_Memory_05_kotohana_sub_12.rpgmvp
!Scene_Memory_05_kotohana_sub_ED.rpgmvp
!Scene_Memory_06_natu_sub_01.rpgmvp
!Scene_Memory_06_natu_sub_02.rpgmvp
!Scene_Memory_06_natu_sub_03.rpgmvp
!Scene_Memory_06_natu_sub_04.rpgmvp
!Scene_Memory_06_natu_sub_05.rpgmvp
!Scene_Memory_06_natu_sub_06.rpgmvp
!Scene_Memory_06_natu_sub_07.rpgmvp
!Scene_Memory_06_natu_sub_08.rpgmvp
!Scene_Memory_06_natu_sub_09.rpgmvp
!Scene_Memory_06_natu_sub_10.rpgmvp
!Scene_Memory_06_natu_sub_11.rpgmvp
!Scene_Memory_06_natu_sub_12.rpgmvp
!Scene_Memory_06_natu_sub_ED1.rpgmvp
!Scene_Memory_06_natu_sub_ED2.rpgmvp
!Scene_Memory_07_natu_sub_01.rpgmvp
!Scene_Memory_07_natu_sub_02.rpgmvp
!Scene_Memory_07_natu_sub_03.rpgmvp
!Scene_Memory_07_natu_sub_04.rpgmvp
!Scene_Memory_07_natu_sub_05.rpgmvp
!Scene_Memory_07_natu_sub_06.rpgmvp
!Scene_Memory_07_natu_sub_07.rpgmvp
!Scene_Memory_07_natu_sub_08.rpgmvp
!Scene_Memory_07_natu_sub_09.rpgmvp
!Scene_Memory_07_natu_sub_10.rpgmvp
!Scene_Memory_07_natu_sub_11.rpgmvp
!Scene_Memory_07_natu_sub_12.rpgmvp
!Scene_Memory_07_natu_sub_13.rpgmvp
!Scene_Memory_07_natu_sub_14.rpgmvp
!Scene_Memory_07_natu_sub_15.rpgmvp
!Scene_Memory_07_natu_sub_16.rpgmvp
!Scene_Memory_bookmark_07.rpgmvp
!Scene_Memory_bookmark_08.rpgmvp
!Scene_Memory_bookmark_09.rpgmvp
!STATUS_00_natu.rpgmvp
!STATUS_01_misaki_ero_01.rpgmvp
!STATUS_01_misaki_ero_02.rpgmvp
!STATUS_02_titose_ero_01.rpgmvp
!STATUS_02_titose_ero_02.rpgmvp
!STATUS_03_aoi_ero_01.rpgmvp
!STATUS_03_aoi_ero_02.rpgmvp
!STATUS_04_koume_ero_01.rpgmvp
!STATUS_04_koume_ero_02.rpgmvp
!STATUS_05_kotohana_ero_01.rpgmvp
!STATUS_05_kotohana_ero_02.rpgmvp
!STATUS_cage_name_02.rpgmvp
!STATUS_cage_name_03.rpgmvp
!STATUS_cage_use_00.rpgmvp
!STATUS_cage_use_01.rpgmvp
!STATUS_cage_use_02.rpgmvp
!STATUS_cage_use_03.rpgmvp
!STATUS_memory.rpgmvp
!STATUS_name.rpgmvp
!STATUS_note_01_misaki_00.rpgmvp
!STATUS_note_01_misaki_01.rpgmvp
!STATUS_note_01_misaki_02.rpgmvp
!STATUS_note_01_misaki_03.rpgmvp
!STATUS_note_01_misaki_04.rpgmvp
!STATUS_note_01_misaki_05.rpgmvp
!STATUS_note_01_misaki_06.rpgmvp
!STATUS_note_01_misaki_07.rpgmvp
!STATUS_note_01_misaki_08.rpgmvp
!STATUS_note_01_misaki_09.rpgmvp
!STATUS_note_01_misaki_10.rpgmvp
!STATUS_note_01_misaki_11.rpgmvp
!STATUS_note_02_titose_00.rpgmvp
!STATUS_note_02_titose_01.rpgmvp
!STATUS_note_02_titose_02.rpgmvp
!STATUS_note_02_titose_03.rpgmvp
!STATUS_note_02_titose_04.rpgmvp
!STATUS_note_02_titose_05.rpgmvp
!STATUS_note_02_titose_06.rpgmvp
!STATUS_note_03_aoi_00.rpgmvp
!STATUS_note_03_aoi_01.rpgmvp
!STATUS_note_03_aoi_02.rpgmvp
!STATUS_note_03_aoi_03.rpgmvp
!STATUS_note_03_aoi_04.rpgmvp
!STATUS_note_03_aoi_05.rpgmvp
!STATUS_note_03_aoi_06.rpgmvp
!STATUS_note_03_aoi_07.rpgmvp
!STATUS_note_03_aoi_08.rpgmvp
!STATUS_note_03_aoi_09.rpgmvp
!STATUS_note_03_aoi_10.rpgmvp
!STATUS_note_04_koume_00.rpgmvp
!STATUS_note_04_koume_01.rpgmvp
!STATUS_note_04_koume_02.rpgmvp
!STATUS_note_04_koume_03.rpgmvp
!STATUS_note_04_koume_04.rpgmvp
!STATUS_note_04_koume_05.rpgmvp
!STATUS_note_04_koume_06.rpgmvp
!STATUS_note_04_koume_07.rpgmvp
!STATUS_note_04_koume_08.rpgmvp
!STATUS_note_04_koume_09.rpgmvp
!STATUS_note_04_koume_10.rpgmvp
!STATUS_note_05_kotohana_00.rpgmvp
!STATUS_note_05_kotohana_01.rpgmvp
!STATUS_note_05_kotohana_02.rpgmvp
!STATUS_note_05_kotohana_03.rpgmvp
!STATUS_note_05_kotohana_04.rpgmvp
!STATUS_note_05_kotohana_05.rpgmvp
!STATUS_note_05_kotohana_06.rpgmvp
!STATUS_note_05_kotohana_07.rpgmvp
!STATUS_note_05_kotohana_08.rpgmvp
!STATUS_note_05_kotohana_09.rpgmvp
!STATUS_note_05_kotohana_10.rpgmvp
!T100.rpgmvp
!title_menu_01.rpgmvp
!title_menu_02.rpgmvp
!title_menu_04.rpgmvp
!title_menu_09.rpgmvp
!title_menu_10.rpgmvp
!title_menu_13.rpgmvp
!title_menu_14.rpgmvp
!T_01.rpgmvp
!T_02.rpgmvp
!T_03.rpgmvp
!T_04.rpgmvp
!T_05.rpgmvp
!T_06.rpgmvp
!T_07.rpgmvp
!T_08.rpgmvp
!T_09.rpgmvp
!T_10.rpgmvp
!T_11.rpgmvp
!T_12.rpgmvp
!T_13.rpgmvp
!T_14.rpgmvp
!T_15.rpgmvp
!T_16.rpgmvp
!T_17.rpgmvp
!T_18.rpgmvp
!T_19.rpgmvp
!T_20.rpgmvp